.steps-container {
  text-align: center;
  padding: 20px;
}

.steps-title {
  font-size: 24px;
  font-weight: bold;
}

.steps-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step {
  text-align: left;
  margin: 20px 0;
}

.step h2 {
  font-weight: bold;
}

.step-icon {
  width: 24px;
  vertical-align: middle;
}

ul {
  list-style: disc;
  margin-left: 20px;
}

ul ul {
  list-style: circle;
  margin-left: 20px;
}
